[Unit]
Description=Movie Masher

[Service]
Type=simple
WorkingDirectory=/var/www/moviemasher.rb
ExecStartPre=/var/www/moviemasher.rb/config/aws/create_temp_dirs.sh
Restart=on-failure
ExecStart=/usr/bin/rake moviemasher:init[aws]
ExecStop=

[Install]
WantedBy=multi-user.target
